.espacio {
    margin: 0 auto;
    height: 130px;
    width: 130px;
    margin-bottom: 35px;
    margin-top: 50px;
}

.nave-contenedor {
    position: relative;
    height: 150px;
    width: 150px;
    margin-bottom: 65px;

    .nave {
        position: absolute;
        height: 130px;
        width: 130px;
        animation-name: despegue, vuelo;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-direction: alternate;
        animation-iteration-count: 5;

        img {
            width: 130px;
            padding: 0;
        }
    }

    // @keyframes despegue {
    //     from {bottom: -270px}
    //     to {bottom: 90px;}
    // }

    @keyframes vuelo {
        from {left: -150px;}
        to {left: 150px;}
        
    }
    
}