nav {
    background-color: #fffbf7;
}
nav ul {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    margin-bottom: 0 !important;
}
nav ul li {
    display: inline;
    margin: 0 8px 0px 8px;
    color: #276a6f;
}

nav a {
    text-decoration: none; 
    color: #276a6f;
    padding-left: 1rem;
}
nav button {
    background-color:#67b54b !important;
    color: #e8f4e4 !important;
}
video {
    margin: 2rem;
}
.intro {
    padding: 7rem 0 3rem 0;
    text-align: center;
    background-color: #fffbf7;
}

section h1 {
    font-family: "Alegreya", serif;
    font-size: 3.75rem;
    color: #025157;
}

.intro h4 {
    color: #58595d;
    font-family: "Slabo 27px", serif;
}

.intro input {
    border: 1px solid #b6b6b6;
    padding: 0.5rem 2rem;
    width: 60%;
    max-width: 250px;
}
.intro button {
    background-color: #025157;
    color: #fff;
    border: none;
    margin-left: -10px;
}
.intro input, button {
    height: 100%;
    border-radius: 8px;
}
.intro div {
    padding-top: 2rem;
}
.intro p {
    color: #b4b3b1;
    padding: 0;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    max-width: 75%;
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    padding: 5rem;
    background-color: #025157;
}

.cards p {
    color: #8a8a8a;
}

.reto8-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-top: 5rem;
    gap: 1rem;
}

.reto8-1 h5:hover {
    transition: color 1s ease-in-out;    
    color: #67b54b !important;
}