html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
section {
    background-color: #212529;
}

nav a {
    text-decoration: none;
    
    color: aliceblue;   
    padding-left: 1rem; 
}
nav > ul {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    margin-bottom: 0 !important;
}

nav ul li {
    display: inline;
    margin: 0 8px 0px 8px;
    color: aliceblue;
}

.shopping-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shopping-button > p {
    margin: 0;
    padding: 0;
}