body {
    background-color: #fffbf7;
    align-items: center;
}
h1 {
    color: rgb(111, 24, 125);
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
p {
    color: #46484c;
    text-align: center;
    font-family: 'Geologica', sans-serif;
}
form {
    text-align: center;
}
input {
    text-align: center;
    color: rgb(76, 0, 255);
    align-self: center;
}
header{
    display: flex;
    align-items: center;
    margin: 15px;
}
button {
    color: #fff;
    background-color: #025157;
}
a {
    text-decoration: none;
    padding: 12px;
    width: 10%;
    height: 100%;
    display: inline;
}
nav {
    display: inline;
    width: 75%;
    height: 100%;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: center;
}
li {
    display: inline;
    margin: 15px;
}
.navButton {
    float: right;
    width: 15%;
    height: 100%;
    text-align: right;
}