body {
    background-color: #b8e0ef;
}
h1 {
    color: rgb(111, 24, 125);
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
p {
    color: #46484c;
    text-align: center;
    font-family: 'Geologica', sans-serif;
}
form {
    text-align: center;
}
input {
    text-align: center;
    color: rgb(76, 0, 255);
    align-self: center;
}
button {
    color: #fff;
    background-color: #025157;
    margin-right: 1rem;
    font-size: 14px;
    border: none;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: rgb(247, 239, 229);
}
a {
    padding: 12px;
    height: 100%;
    display: flex;
    align-items: center;
}
ul {
    justify-content: center;
}
li {
    display: inline;
    margin: 15px;
}
video {
    margin: 2rem;
}

article > h1 {
    color: #025157;
}

.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.title {
    padding-top: 5rem;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    max-width: 75%;
}

.catDog {
    display: flex;
	justify-content: center;
}

.ecommerce {
    background-color: #a1d683;
    display: flex;
    padding: 5% 15%;    
}

.ecommerce .overview {
    flex: 2;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    justify-content: center;
}

.ecommerce .overview h1 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    text-align: left;
}

.ecommerce .overview p {
    text-align: left;
}

.ecommerce .overview .text::first-letter {
    color: #025157;
    font-size: xx-large;
}

.ecommerce .overview div {
    display: block;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}

.card > * {
    padding: 2.5rem;
}

.card h3 {
    font-family: "Alegreya", serif;
    color: #025157;
}
.card h2 {
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    
}
.card p {
    text-align: left;
}

.company-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border-radius: 50%;
    position: absolute;
    right: 3rem;
    top: 13rem;
    min-width: 90px;
    min-height: 90px;
}

